@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobile-nav {
    @apply flex flex-col;
  }
  .desktop-nav {
    @apply flex flex-grow justify-evenly;
    @apply max-w-[900px];
  }
  .desktop-menu-link {
    @apply relative;
    @apply !text-white font-bold uppercase !no-underline tracking-[-.075em];
    @apply group-hover:!text-menuGray group-hover:hover:!text-white;
    @apply transition-all duration-300;
  }

  .desktop-menu-link:hover {
    @apply !no-underline;
  }

  .desktop-menu-link::before {
    @apply absolute;
    @apply bg-white;
    @apply bottom-0 left-0 w-0 h-[1.5px];
    @apply transition-all duration-100;
    content: '';
  }

  .mobile-menu-link {
    @apply !text-black font-semibold text-2xl !no-underline;
    @apply border-b-[1px];
    @apply py-8 w-[70vw] mx-10;
  }

  /* Animation for hover-in */
  .desktop-menu-link:hover::before {
    animation: expand-and-shrink 600ms ease-in-out;
  }

  /* Keyframes for the desired animation */
  @keyframes expand-and-shrink {
    0% {
      width: 0%;
    }

    30% {
      width: 25%;
    }

    60% {
      width: 0%;
      left: 100%;
    }
  }

  .header {
    @apply flex items-center justify-between;
    @apply bg-black;
    @apply px-8 py-5;
  }

  .white-button {
    @apply rounded-full;
    @apply px-6 py-2;
    @apply font-semibold;
    @apply !bg-white hover:!bg-gray-200;
    @apply transition duration-300;
  }
}
